@import url("https://fonts.googleapis.com/css?family=Gudea&display=swap");

/* Body styling */
body {
  font-family: "Gudea", sans-serif;
  font-size: 20px;
  margin: 0;
  text-anchor: end;
}

.y-axis { font: 11px "Gudea", sans-serif; }

/* Home page and header */
#subtitle {
  /* padding-left: 10px; */
  margin-top: 0;
  padding-top: 0;
  color: #ffffff;
  font-size: 22px;
  font-weight: normal;
  display: block;
  width: 40vw;
}

#description {
  position: relative;
  /* margin-left:  5%; */
  /* padding-bottom:  2%; */
  display: inline-block;
  /* background-color: white; */
  /* padding-top: -30px; */
  color: #ffffff;
  font-size: 20px;
  width: 50vw;
}

.header {
  min-width: 1380px;
  max-width: 100%;
  background-image: url("images/header.jpg");
  /* padding: 10%; */
  /* position: relative; */
  background-attachment: fixed;
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 100%; */
  /* background-size: contain; */
  /* color: rgb(255, 255, 255); */
}

.header-text {
  padding: 10%;
  /* position: relative; */
}

/* Header stylings */
h1 {
  font-size: 40pt;
  width: 50vw;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #ffffff;
  font-weight: bold;
}

h2 {
  font-size: 30pt;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 20;
  color: #0d1215;
  font-weight: bold;
}

/* Stylings for navigation bar */
.navigation {
  background-color: #e2e1dd;
}

#page-items {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
}

#page-items li {
  display: inline;
}

#page-items a {
  display: inline-block;
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-left: 60px;
  text-decoration: none;
  font-weight: bold;
  color: #0d1215;
}

#vis-description {
  font-size: 20;
  color: #0d1215;
}

/* row and columnn styling */
.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*.box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 2em;
}

.push {
  row-gap: 10px;
  column-gap: 2em;
}*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 5px;

  box-sizing: border-box;
  width: 1200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.artists-intro{
  box-sizing: border-box;
  width: 1200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.artist-bio1 {
  grid-column: col-start / span 4;
}
.artist-bio2 {
  grid-column: col-start 8 / span 4;
}

.viz0 {
  grid-column: col-start 3 / span 4 ;
}
.viz1 {
  grid-column: col-start 3 / span 4 ;
}
.viz2 {
  grid-column: col-start 3 / span 4 ;
}
.viz3 {
  grid-column: col-start 3 / span 4 ;
}
.viz4 {
  grid-column: col-start 3 / span 4 ;
}
.viz5 {
  grid-column: col-start 8 / -1;
}
.viz6 {
  grid-column: col-start 8 / -1;
}
.viz7{
  grid-column: col-start 8 / -1;
}
.viz8{
  grid-column: col-start 8 / -1;
}
.viz9{
  grid-column: col-start 8 / -1;
}

#artist{
  font-size: 15;
}

section {
  justify-content: center;
  align-content: center;
}

.container {
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 30px;
  padding-left: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#origins {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#op {
  margin-left: 100px;
  font-size: 20px;
}

#artwork-tooltip {
  position: absolute;
  display: none;
  /* opacity: 0; */
  z-index: 999;

  color: black;
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: wheat 1px solid;
}

#origins {
  width: 500px;
  height: 300px;
}

#picker {
  margin-left: 50;
  width: 100px;
}

#check {
  margin-left: 20px;
}

.color-picker {
  margin-left: 30px;
  font-size: 20px;
}

#stats {
  margin: 30px;
  font-size: 20px;
}

#gallery {
  font-size: 20px;
  margin: 30px;
}

/*#pie-tooltip{
    position: fixed;
    display: inline;
    opacity: 0;
	z-index: 999;
    
    color: black;
    width: 300px;
    padding: 5px;
    border-radius:5px;
   background-color: whitesmoke;
   border: wheat 1px solid;
  }*/

#pie-tooltip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 whitesmoke;
  border: wheat 1px solid;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

<<<<<<< HEAD
.bold-title{
  font-size: 25px;
  font-weight: bolder;
}

.thin-text{
  font-size: 20px;
  font-weight: lighter;
}

.info{
  border: wheat 1px solid;
}
=======
/* Top 10 artists visualization */

#top-tooltip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 whitesmoke;
  border: #e9ecef 1px solid;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px "Gudea", sans-serif;
  padding: 5px;
  text-align: center;
  opacity: 0.85;
}

.image-overlay {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;
}

.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image-overlay:hover{
  opacity: 1;

}

.image-overlay:hover > * {
  transform: translateY(0);
}

.artist-image {
  position: relative;
}

#frink {
  margin-bottom: 4px;
  border-radius: 200px;
  box-sizing: border-box;
  /*background-color: #DDD;*/
  border: 2px solid #f72585;
  /*-webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  display: block;*/
  width: 100%;
 /* or whatever */
}
.frink-description{
  font-size: 14;
  /*margin-left: 10;*/
  text-align: center;
  color: #f72585;
  font-weight: bold;
  background: rgba(255,255,255,0.8);
}

#hepworth {
  margin-bottom: 4px;
  border-radius: 200px;
  box-sizing: border-box;
  /*background-color: #DDD;*/
  border: 2px solid #7209b7;
  width: 100%; /* or whatever */
}
.hepworth-description{
  font-size: 14;
  /*margin-left: 10;*/
  text-align: center;
  color: #7209b7;
  font-weight: bold;
  background: rgba(255,255,255,0.8);
}

#duncombe {
  margin-bottom: 4px;
  border-radius: 200px;
  box-sizing: border-box;
  /*background-color: #DDD;*/
  border: 2px solid #4cc9f0;
  width: 100%; /* or whatever */
}
.duncombe-description{
  font-size: 14;
  /*margin-left: 10;*/
  text-align: center;
  color: #4cc9f0;
  font-weight: bold;
  background: rgba(255,255,255,0.8);
}

#arbus {
  margin-bottom: 4px;
  border-radius: 200px;
  box-sizing: border-box;
  /*background-color: #DDD;*/
  border: 2px solid #ffb703;
  width: 100%; /* or whatever */
}
.arbus-description{
  font-size: 14;
  /*margin-left: 10;*/
  text-align: center;
  color: #ffb703;
  font-weight: bold;
  background: rgba(255,255,255,0.8);
}

#rigby {
  margin-bottom: 4px;
  border-radius: 200px;
  box-sizing: border-box;
  /*background-color: #DDD;*/
  border: 2px solid #38b000;
  width: 100%; /* or whatever */
}
.rigby-description{
  font-size: 14;
  /*margin-left: 10;*/
  text-align: center;
  color: #38b000;
  font-weight: bold;
  background: rgba(255,255,255,0.8);
}

#lim {
  margin-bottom: 4px;
  border-radius: 200px;
  box-sizing: border-box;
  /*background-color: #DDD;*/
  border: 2px solid #ff7900;
  width: 100%; /* or whatever */
}
.lim-description{
  font-size: 14;
  /*margin-left: 10;*/
  text-align: center;
  color: #ff7900;
  font-weight: bold;
  background: rgba(255,255,255,0.8);
}

#wharncliffe {
  margin-bottom: 4px;
  border-radius: 200px;
  box-sizing: border-box;
  /*background-color: #DDD;*/
  border: 2px solid #b7094c;
  width: 100%; /* or whatever */
}
.wharncliffe-description{
  font-size: 12;
  /*margin-left: 10;*/
  text-align: center;
  color: #b7094c;
  font-weight: bold;
  background: rgba(255,255,255,0.8);
}

#rego {
  margin-bottom: 4px;
  border-radius: 200px;
  box-sizing: border-box;
  /*background-color: #DDD;*/
  border: 2px solid #358f80;
  width: 100%; /* or whatever */
}
.rego-description{
  font-size: 14;
  /*margin-left: 10;*/
  text-align: center;
  color: #358f80;
  font-weight: bold;
  background: rgba(255,255,255,0.8);
}

#horn {
  margin-bottom: 4px;
  border-radius: 200px;
  box-sizing: border-box;
  /*background-color: #DDD;*/
  border: 2px solid #2d00f7;
  width: 100%; /* or whatever */
}
.horn-description{
  font-size: 14;
  /*margin-left: 10;*/
  text-align: center;
  color: #2d00f7;
  font-weight: bold;
  background: rgba(255,255,255,0.8);
}

#almeida {
  margin-bottom: 4px;
  border-radius: 200px;
  box-sizing: border-box;
  /*background-color: #DDD;*/
  border: 2px solid #9d8189;
  width: 100%; /* or whatever */
}
.almeida-description{
  font-size: 12;
  /*margin-left: 10;*/
  text-align: center;
  color: #9d8189;
  font-weight: bold;
  background: rgba(255,255,255,0.8);
}
>>>>>>> ad963e10d55aa6f6b555475ec92410b56e94862b
