@import url('https://fonts.googleapis.com/css?family=Gudea&display=swap');


body {
    font-family: 'Gudea', sans-serif;
    font-size: 10px;
    margin: 0;
    text-anchor: end;
}

#subtitle{
    /* padding-left: 10px; */
    margin-top: 0;
    padding-top:0;
    color:#ffffff;
    font-size:22px;
    font-weight:normal;
    display: block;
    width: 40vw;
}

#description{
    position: relative;
    /* margin-left:  5%; */
    /* padding-bottom:  2%; */
    display: inline-block;
    /* background-color: white; */
    /* padding-top: -30px; */
    color:#ffffff;
    font-size:20px;
    width: 50vw;
}

.header {
    min-width: 1380px;
    max-width: 100%;
    background-image: url("images/header.jpg");
    /* padding: 10%; */
    /* position: relative; */
    background-attachment: fixed;
    background-position: top,bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 100%; */
    /* background-size: contain; */
      /* color: rgb(255, 255, 255); */
}

.header-text{

    padding: 10%;
    /* position: relative; */
}

h1{
    font-size: 40pt;
    width: 50vw;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #ffffff;
    font-weight: bold;
    
}

h2{
    font-size: 30pt;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 50px;
    color: #0d1215;
    font-weight: bold;
    
}

.navigation{
    background-color: #e2e1dd;
}

#page-items{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-size: 20px;
}

#page-items li{
    display:inline;
}

#page-items a{
    display:inline-block;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-left: 60px;
    text-decoration: none;
    font-weight: bold;
    color: #0d1215
}

#vis-description{
    font-size: 20;
    color: #0d1215;
}

/*.row{
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
}*/


.column {
    float: left;
    width: 50%;
    padding-top: 70px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #origins{
      
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  
  }

 #op{
     margin-left: 100px;
      font-size: 20px;
  }

  #artwork-tooltip{
    position: absolute;
    display: none;
    /* opacity: 0; */
	z-index: 999;
    
    color: black;
    width: 300px;
    padding: 5px;
    border-radius:5px;
   background-color: whitesmoke;
   border: wheat 1px solid;
  }

#origins{
    width: 500px;
    height: 300px;
}

#picker{
    margin-left: 50px;
    width: 100px;
}

#check{
    margin-left: 20px;
}

.color-picker{
    margin-left: 30px;
    font-size: 20px;

}

#stats{
    margin: 30px;
    font-size: 20px;
}

#gallery{
    font-size: 20px;
    margin: 30px;
}
